[Unit]
Description=Web server for browsing through bup repositories
Documentation=man:bup-web(1) file:/usr/share/doc/bup-web/README.Fedora.md
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bup web
Restart=on-failure

[Install]
WantedBy=default.target
